.private-note {
  background-color: #FAF2AF;

  margin: 8px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 6px;
  box-shadow: 3px 3px 4px #AAA;
}

.private-note h4 {
  font: bold 10pt arial;
  text-transform: uppercase;
  margin: 0;
}